__pycache__
*.ckpt
*.safetensors
*.pth
/ESRGAN/*
/SwinIR/*
/repositories
/venv
/tmp
/model.ckpt
/models/**/*
/GFPGANv1.3.pth
/gfpgan/weights/*.pth
/ui-config.json
/outputs
/config.json
/log
/webui.settings.bat
/embeddings
/styles.csv
/params.txt
/styles.csv.bak
/webui-user.bat
/webui-user.sh
/interrogate
/user.css
/.idea
notification.mp3
/SwinIR
/textual_inversion
.vscode
/extensions
/test/stdout.txt
/test/stderr.txt
/cache.json*
/config_states/
/node_modules
/package-lock.json
/.coverage*
cache/hashes/cache.db
cache/hashes/cache.db-shm
cache/hashes/cache.db-wal
cache/hashes-addnet/cache.db
cache/hashes-addnet/cache.db-shm
cache/hashes-addnet/cache.db-wal
cache/safetensors-metadata/cache.db
cache/safetensors-metadata/cache.db-shm
cache/safetensors-metadata/cache.db-wal
